<section class="post">
    <header class="major">
        <h1>Who is<br />Promasu?</h1>
        <p>Me, my skills and how to contact me</p>
    </header>
    <p>I'm Adrian Nöthlich a.k.a. Promasu, a nineteen year old student of computer science at the Karlsruhe Institute for Technology in Southern Germany. I'm interested in pretty much anything related to science, technology and tinkering, build networkinfrastructure and plan software, systems and events. I'm pretty busy studying and VoidX Networking Technologies, a company I co-founded with <a href="https://zortac.net">Moritz F. Kuntze</a>, but if you need advice for networks or servers, I will find some free time to assist.</p><br />
    <h2>Software Engineering Skills</h2>
    <p>I started programming 2012 with a custom cms like software in PHP for a website I made. Since then I learned about a dozen languages ending with Elixir as one of the most beautiful and clean languages I heared of. I already wrote a bunch of different types of software like
    <p>I've been programming since I was six years old (back then working in Borland Delphi Pascal) and programming has played a big part in my life ever since then. I mostly write web-backend-related things, but I've done some stuff with things like CUDA for more interesting computational tasks. My main languages are Golang and C++ but I'm pretty comfortable working with any C-like language and the complete Web development stack. I've passed the first round of the 36th "Bundeswettbewerb Informatik" (federal computer science competition) with full points, but sadly wasn't able to compete in later rounds (no time because of school).</p><br />
    <h2>Political and Social Skills</h2>
    <p></p><br />
    <h2>System Administration Skills</h2>
    <p>Over the last years I've managed quite a few servers, networks, clusters and am well versed in all things concerning Linux.</p><br />
    <h2>Other Skills</h2>
    <p>I can understand law texts and think into other perspectives pretty good. I'm fluent in English, German, Dutch and almost fluent in French.</p><br />
    <h2>Contact</h2>
    <p>I can best be reached via <a href="mailto:i@promasu.tech">E-Mail</a> or via any of the contact methods on the bottom of this page, if necessary. My PGP key has fingerprint 0x11efd6f79cad99ba and can be found on the MIT Keyserver as well as <a href="/gpgkey">here</a>.</p>
</section>