<section class="post">
    <h2>Sign Out</h2>
    <ul class="actions">
        <li><a href="" class="button primary" onclick="signOut()">Sign Out</a></li>
    </ul>
    <script type="text/javascript">
    function signOut() {
        document.cookie = "Session=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        document.location.replace(window.location.origin);
    }
    </script>
</section>