<section class="post">
    <header class="major">
        <h1>What I<br />Do</h1>
        <p>Some of my projects</p>
    </header>
    <h2>VoidX</h2>
    <p>To be announced.</p>
    <h2>HGW Admin</h2>
    <p>I've been working as a network administrator at my school (in addition to being a student) from 2014 until 9/2018. I've written a couple internal tools for automating certain administrative tasks and improving the life of my fellow students but I'm unable to share the source code.</p>
    <h2>German Pirate Party Admin</h2>
    <p>I'm working as a server administrator for the Pirate Party Germany since December 2018. I'm focussing on the mailservers and keeping sight on the whole infrastructure.</p>
    <h2>Networks</h2>
    <p>In the time between my graduation and the beginning of my study I worked for the city council. In this position I had the honour to plan and install completely new network hardware for my old school. At the end we got <em>Unifi AP AC-PRO</em> driven wifi and gigabit ethernet in the complete building.</p>
    <p>My next project is installing wifi all over the HaDiKo, were I live.</p>
    <h2>Connected Audio Systems</h2>
    <p>For my room in my dormitry, I'm working on an Arduino, Raspberry Pi, VBAN and Spotify driven audio setup. The next part on it will be reverse-engineering the pcb of my stereo soundsystem to create a bridge between it and a VBAN and Spotify Connect driven Arduino. With that I will be able to attach my stereo to my network and play music from every given device.</p>
</section>